footer {
    background-color: var(--yellow);
    padding-top: 5px;
    color: var(--color);
    text-align: center;
    padding-bottom: 1px;
    position: relative;
}

.copyright a{
    font-size: 1.1rem;
    color: var(--color);
    text-decoration: underline; 
}
footer .yellow{
    color: yellow;
}
footer .blue{
    color: blue;
    position: relative;
    left: -0.5em
}

footer .top {
    bottom: 5em;
    right: 50px;
    position: fixed;
}
.toggle-light {
    bottom: 2em;
    right: 50px;
    position: fixed;
}
footer .up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    transform: translate(-50%);
    color: var(--color);
    background: var(--yellow);
    transition: 1s ease all;
    cursor: pointer;
}
footer .up{
    border: none;
}
.up:hover {
    color: var(--accent-2);
    font-size: 1.25em;
}
