/*
Portfolio
*/

.portfolio {
    padding: 5em 0px;
  }
  .project__title{
    width: 50%;
    padding: 0 0 0 1em;
    font-size: 1.45em;
    text-align: left; 
  }
  .project  img {
    width: 80%;
    box-shadow: -25px 25px 1px -15px var(--yellow);
  }
  
  .project__content {
    display: flex;
    justify-content: center;
  }
  .project__content--img {
    flex: 50% 0 0;
    margin: 1em 0;
    padding: 0 1em;
  }
  
  .project__content--text-right,
  .project__content--text-left {
    flex: 60%;
    text-align: justify;
  }
  
  .project__content a{
    font-size: 1.4rem;
    text-decoration: none;
  }
  
  .project__content a.btn {
    padding: 10px 30px 10px 30px;
    background-color: var(--yellow);
    margin-top: 20px;
    color: var(--color);
  }
    
  .project__content a.btn:nth-child(even) {
    border-left: 2px solid var(--dark);
  }
  
  .project__content .btn:hover,
  .project__content .btn:focus {
    color: var(--yellow);
    background-color: var(--color);
    transition: all .75s;
  }
  .recent-work-info li{
    font-size: .9rem;
    display: inline-block;
    padding: 5px;
    color: var(--color);
    background: var(--accent-2);
    margin: .5em;
  }
  
      
@media (max-width: 576px) {
  .recent-work-info ul{
    padding: 0;
  }
}

@media (max-width: 991px) {
  .project__content {
    display: block;
  }
  .project__content--img{
    width: 100%;
  }
  .project img {
    width: 100%;
  }
  .project__content--text-right{
    width: 100%;
    padding: 1.25em;
  }
}

@media (min-width: 992px) {
  
}