/*
Navbar
*/
.navbar{
  width: 100%;
  background: var(--background);
  position: fixed;
  padding: 1.5em;
  z-index: 1001;
}
.navbar__wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar button{
  display: none;
}
.navbar__menu{
  flex-grow: 1;

}
.navbar__nav{
  display: flex;
  padding-left: 0;
  margin: 0;
  justify-content: flex-end;
  list-style: none;
}
.nav__item{
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 .75em;
}
.nav__link {
  padding: .5em 0;
  display: block;
  position: relative;
}
.nav__item .active,
.nav__link:hover{
  color: var(--primary-color)
}

.nav__item .active::before,
.nav__link:before {
  content: "";
  position: absolute;
  margin-left: 0;
  width: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  background: var(--primary-color);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.nav__item .active::before,
.nav__link:hover::before {
  width: 2em;
}

/*
Intro
*/

.intro__wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.intro__title{
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.intro__subtitle{
  font-size: 2rem;
  font-weight: 300;
}

.intro__button{
  color: var(--color);
  background-color: var(--primary);
  border-color: var(--primary);
}

/*
Title
*/

.title{
  color: var(--yellow);
  text-align: center;
  font-size: 2.25rem;
}

/*
About
*/

.about {
  padding: 5em 0;
  height: 80vh;
}
.about__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.about__content--img{
  width: 30%;
  height: 30%;
  padding: 1.25em;
}

.about__content--img img{
  width: 100%;
  box-shadow: -30px 30px 1px -15px var(--yellow);
  margin-top: 10%;
}
.about__content--text {
  width: 60%;
  padding: 0 1em;
  margin-top: -3.5em;
  font-size: 1.35rem;
  text-align: justify;
  line-height: 1.2;
}

/*
BUTTON
*/

.button {
  display: inline-block;
  padding: .3rem .6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: var(--primary);
  color: var(--color);
  transform: scale(1.1);
  transition: all 500ms ease;
}

